@keyframes fonts-loading { 0%, 99% { color: transparent; } } html.wf-loading * { animation: fonts-loading 3s; }

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/3888dc/00000000000000007735e606/31/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/3888dc/00000000000000007735e606/31/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/3888dc/00000000000000007735e606/31/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/d7ff92/00000000000000007735e609/31/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/d7ff92/00000000000000007735e609/31/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/d7ff92/00000000000000007735e609/31/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/26f7ec/00000000000000007735e605/31/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/26f7ec/00000000000000007735e605/31/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/26f7ec/00000000000000007735e605/31/a?subset_id=2&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/e37e5a/00000000000000007735e60d/31/l?subset_id=2&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/e37e5a/00000000000000007735e60d/31/d?subset_id=2&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/e37e5a/00000000000000007735e60d/31/a?subset_id=2&fvd=n6&v=3) format("opentype");font-weight:600;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/5be242/00000000000000007735e603/31/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/5be242/00000000000000007735e603/31/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/5be242/00000000000000007735e603/31/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/0bd0af/00000000000000007758cf8e/31/l?subset_id=2&fvd=i6&v=3) format("woff2"),url(https://use.typekit.net/af/0bd0af/00000000000000007758cf8e/31/d?subset_id=2&fvd=i6&v=3) format("woff"),url(https://use.typekit.net/af/0bd0af/00000000000000007758cf8e/31/a?subset_id=2&fvd=i6&v=3) format("opentype");font-weight:600;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/38ea3a/00000000000000007758cf7d/31/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/38ea3a/00000000000000007758cf7d/31/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/38ea3a/00000000000000007758cf7d/31/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/1a756d/00000000000000007735d927/31/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/1a756d/00000000000000007735d927/31/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/1a756d/00000000000000007735d927/31/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/a4e080/00000000000000007735d91e/31/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/a4e080/00000000000000007735d91e/31/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/a4e080/00000000000000007735d91e/31/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/c45313/00000000000000007735d924/31/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/c45313/00000000000000007735d924/31/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/c45313/00000000000000007735d924/31/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/7b6e7b/00000000000000007735d921/31/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/7b6e7b/00000000000000007735d921/31/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/7b6e7b/00000000000000007735d921/31/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}

[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }
[touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto; }
[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }
[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }
[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }


:is([id*='google_ads_iframe'],[id*='taboola-'],.taboolaHeight,.taboola-placeholder,#top-ad,#credential_picker_container,#credentials-picker-container,#credential_picker_iframe,[id*='google-one-tap-iframe'],#google-one-tap-popup-container,.google-one-tap__module,.google-one-tap-modal-div,#amp_floatingAdDiv,#ez-content-blocker-container) {display:none!important;min-height:0!important;height:0!important;}


    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .header-blur-background {
            
            
        }
    }



  .top-bun, 
  .patty, 
  .bottom-bun {
    height: 1px;
  }



  .top-bun, 
  .patty, 
  .bottom-bun {
    height: 1px;
  }




.fe-671b3984aed20b618bc7894d {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(50,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-671b3984aed20b618bc7894d {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-671b3984aed20b618bc7894d {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(28,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-671b39849d0ba5cabc7ae120 {
    grid-area: 1/2/3/10;
    z-index: 0;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b39849d0ba5cabc7ae120 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-671b39849d0ba5cabc7ae120 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-671b39849d0ba5cabc7ae120 {
      grid-area: 1/2/2/26;
      z-index: 0;

      
        
      

      
    }

    .fe-block-671b39849d0ba5cabc7ae120 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-671b39849d0ba5cabc7ae120 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-671b3984118044f4c628f3cf {
    grid-area: 3/2/16/10;
    z-index: 1;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b3984118044f4c628f3cf .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-671b3984118044f4c628f3cf .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-671b3984118044f4c628f3cf {
      grid-area: 3/2/14/26;
      z-index: 1;

      
        
      

      
    }

    .fe-block-671b3984118044f4c628f3cf .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-671b3984118044f4c628f3cf .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-671b3984f8da4d2e01a7bf61 {
    grid-area: 17/2/18/10;
    z-index: 2;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b3984f8da4d2e01a7bf61 .sqs-block {
    justify-content: center;
  }

  .fe-block-671b3984f8da4d2e01a7bf61 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-671b3984f8da4d2e01a7bf61 {
      grid-area: 14/2/15/26;
      z-index: 2;

      
        
      

      
    }

    .fe-block-671b3984f8da4d2e01a7bf61 .sqs-block {
      justify-content: center;
    }

    .fe-block-671b3984f8da4d2e01a7bf61 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-671b39848e8a65657fe39c1a {
    grid-area: 18/2/26/10;
    z-index: 3;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b39848e8a65657fe39c1a .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-671b39848e8a65657fe39c1a .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-671b39848e8a65657fe39c1a {
      grid-area: 16/2/27/10;
      z-index: 3;

      
        
      

      
    }

    .fe-block-671b39848e8a65657fe39c1a .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-671b39848e8a65657fe39c1a .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-671b39844f06f6fb67e089fc {
    grid-area: 27/4/29/8;
    z-index: 4;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b39844f06f6fb67e089fc .sqs-block {
    justify-content: center;
  }

  .fe-block-671b39844f06f6fb67e089fc .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-671b39844f06f6fb67e089fc {
      grid-area: 27/4/29/8;
      z-index: 4;

      
        
      

      
    }

    .fe-block-671b39844f06f6fb67e089fc .sqs-block {
      justify-content: center;
    }

    .fe-block-671b39844f06f6fb67e089fc .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-671b3984b4d14172426524fe {
    grid-area: 29/2/37/10;
    z-index: 5;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b3984b4d14172426524fe .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-671b3984b4d14172426524fe .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-671b3984b4d14172426524fe {
      grid-area: 16/10/27/18;
      z-index: 5;

      
        
      

      
    }

    .fe-block-671b3984b4d14172426524fe .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-671b3984b4d14172426524fe .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-671b3984b62d8df72bf53c65 {
    grid-area: 38/4/40/8;
    z-index: 6;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b3984b62d8df72bf53c65 .sqs-block {
    justify-content: center;
  }

  .fe-block-671b3984b62d8df72bf53c65 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-671b3984b62d8df72bf53c65 {
      grid-area: 27/12/29/16;
      z-index: 6;

      
        
      

      
    }

    .fe-block-671b3984b62d8df72bf53c65 .sqs-block {
      justify-content: center;
    }

    .fe-block-671b3984b62d8df72bf53c65 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-671b3984426daf1285ff2a54 {
    grid-area: 40/2/48/10;
    z-index: 7;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b3984426daf1285ff2a54 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-671b3984426daf1285ff2a54 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-671b3984426daf1285ff2a54 {
      grid-area: 16/18/27/26;
      z-index: 7;

      
        
      

      
    }

    .fe-block-671b3984426daf1285ff2a54 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-671b3984426daf1285ff2a54 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-671b3984e08a10a056c8e3c3 {
    grid-area: 49/4/51/8;
    z-index: 8;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-671b3984e08a10a056c8e3c3 .sqs-block {
    justify-content: center;
  }

  .fe-block-671b3984e08a10a056c8e3c3 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-671b3984e08a10a056c8e3c3 {
      grid-area: 27/20/29/24;
      z-index: 8;

      
        
      

      
    }

    .fe-block-671b3984e08a10a056c8e3c3 .sqs-block {
      justify-content: center;
    }

    .fe-block-671b3984e08a10a056c8e3c3 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }




      #block-671b3984118044f4c628f3cf {
        box-sizing: border-box;
        height: 100%;
        padding: 6% 6% 6% 6%;
        border-radius: 0px 0px 0px 0px;

        

        
          
            
            
              --tweak-text-block-background-color: 

  hsla(0, 0%, 70%, 1)
;
            
          
        
      }
    


  #block-671b39844f06f6fb67e089fc {--sqs-block-content-flex: 0;
  }



  #block-671b3984b62d8df72bf53c65 {--sqs-block-content-flex: 0;
  }



  #block-671b3984e08a10a056c8e3c3 {--sqs-block-content-flex: 0;
  }
