<footer class="sections" id="footer-sections" data-footer-sections="">
  
  
  
  
  
  
    
    


  
  










<section data-test="page-section" data-section-theme="light" class="page-section 
    
      layout-engine-section
    
    background-width--full-bleed
    
      
        section-height--custom
      
    
    
      content-width--wide
    
    horizontal-alignment--center
    vertical-alignment--middle
    
      
    
    
    light" data-section-id="671b38bf21eb483e9467eaea" data-controller="SectionWrapperController" data-current-styles="{
&quot;imageOverlayOpacity&quot;: 0.15,
&quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
&quot;sectionHeight&quot;: &quot;section-height--custom&quot;,
&quot;customSectionHeight&quot;: 10,
&quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
&quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
&quot;contentWidth&quot;: &quot;content-width--wide&quot;,
&quot;customContentWidth&quot;: 50,
&quot;sectionTheme&quot;: &quot;light&quot;,
&quot;sectionAnimation&quot;: &quot;none&quot;,
&quot;backgroundMode&quot;: &quot;image&quot;
}" data-current-context="{
&quot;video&quot;: {
&quot;filterStrength&quot;: 0,
&quot;zoom&quot;: 0,
&quot;videoSourceProvider&quot;: &quot;none&quot;
},
&quot;backgroundImageId&quot;: null,
&quot;backgroundMediaEffect&quot;: null,
&quot;divider&quot;: null,
&quot;typeName&quot;: &quot;page&quot;
}" data-animation="none" style="min-height: 10vh;" data-sqsp-section="classic-editor" data-controllers-bound="SectionWrapperController">
  <div class="section-border">
    <div class="section-background">
    
      
    
    </div>
  </div>
  <div class="content-wrapper" style="
      
        
          
          
          padding-top: calc(10vmax / 10); padding-bottom: calc(10vmax / 10);
        
      
    ">
    <div class="content">
      
      
      
      
      
      
      
      
      
      
      <div class="sqs-layout sqs-grid-12 columns-12 empty" data-type="page-section" data-updated-on="1772788635252" id="page-section-671b38bf21eb483e9467eaea"></div>
    </div>
  
  </div>
  
</section>

  
    
    


  
  










<section data-test="page-section" data-section-theme="dark" class="page-section 
    
      layout-engine-section
    
    background-width--full-bleed
    
      section-height--small
    
    
      content-width--wide
    
    horizontal-alignment--center
    vertical-alignment--middle
    
      
    
    
    dark" data-section-id="671b38bf21eb483e9467eaec" data-controller="SectionWrapperController" data-current-styles="{
&quot;imageOverlayOpacity&quot;: 0.15,
&quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
&quot;sectionHeight&quot;: &quot;section-height--small&quot;,
&quot;customSectionHeight&quot;: 10,
&quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
&quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
&quot;contentWidth&quot;: &quot;content-width--wide&quot;,
&quot;customContentWidth&quot;: 50,
&quot;sectionTheme&quot;: &quot;dark&quot;,
&quot;sectionAnimation&quot;: &quot;none&quot;,
&quot;backgroundMode&quot;: &quot;image&quot;
}" data-current-context="{
&quot;video&quot;: {
&quot;filterStrength&quot;: 0,
&quot;zoom&quot;: 0,
&quot;videoSourceProvider&quot;: &quot;none&quot;
},
&quot;backgroundImageId&quot;: null,
&quot;backgroundMediaEffect&quot;: null,
&quot;divider&quot;: null,
&quot;typeName&quot;: &quot;page&quot;
}" data-animation="none" data-sqsp-section="classic-editor" data-controllers-bound="SectionWrapperController">
  <div class="section-border">
    <div class="section-background">
    
      
    
    </div>
  </div>
  <div class="content-wrapper" style="
      
        
      
    ">
    <div class="content">
      
      
      
      
      
      
      
      
      
      
      <div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-671b38bf21eb483e9467eaec"><div class="row sqs-row"><div class="col sqs-col-4 span-4"><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-yui_3_17_2_1_1729794589320_2901"><div class="sqs-block-content"><h2><strong>Helpful Links</strong></h2>
<p><a data-preserve-html-node="true" href="http://www.actstudent.org/regist/dates.html" target="_blank">ACT Testing Dates</a></p>
<p><a data-preserve-html-node="true" href="https://services.actstudent.org/OA_HTML/actibeCAcdLogin.jsp" target="_blank">Sign Up for the ACT</a></p>
<p><a data-preserve-html-node="true" href="http://sat.collegeboard.org/register/sat-us-dates" target="_blank">SAT Testing Dates</a></p>
<p><a data-preserve-html-node="true" href="http://sat.collegeboard.org/login?applicationId=115&amp;destinationpage=https://nsat.collegeboard.org/satweb/login.jsp&amp;view=NSAT" target="_blank">Sign Up for the SAT</a></p>
<p><a data-preserve-html-node="true" href="https://majid-hasan.squarespace.com/test-prep-options#Pricing" target="_blank">How Much for Tutoring?</a></p>

</div></div></div><div class="col sqs-col-4 span-4"><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-yui_3_17_2_1_1729794589320_5013"><div class="sqs-block-content"><h2><strong>Contact Me</strong></h2>
<p><a href="mailto:majid@hasantutoring.com">Majid@HasanTutoring.com</a><br>913.210.0611<br><a href="https://www.hasantutoring.com/contact-pages">Or Send Me a Message</a>  </p>

</div></div></div><div class="col sqs-col-4 span-4"><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-yui_3_17_2_1_1729795332696_15718"><div class="sqs-block-content"><h2><strong>My Philosophy</strong></h2>
<p><strong>Recogize these are exams are extremely repetitive and therefore LEARNABLE.</strong> There are only so many different types of questions, and I teach students to learn to recognize them and the simple steps to answer each one. I meet one-on-one with each student, track their progress, and focus on their needs at their pace. </p>

</div></div></div></div></div>
    </div>
  
  </div>
  
</section>

  
</footer>